:root{
 --primary-white: hsl(0, 0%, 100%);
 --primary-black: hsl(0, 0%, 0%);
 --primary-dark-gray: hsl(0, 0%, 55%);
 --primary-very-dark-gray: hsl(0, 0%, 41%);
 --font-size: 15px;
 --wrapper-space: 23px;
}

@media (min-width: 1224px){
    :root{
        --wrapper-space: 160px;
        --font-size: 29px;
    }
}

*{
    box-sizing: border-box;
}

html,
body{
    padding:0;
    margin:0;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: var(--font-size);
}

.header{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px var(--wrapper-space);
    right: 0;
    left: 0;
}

.header__logo img,
.footer__logo img{
    width: 124px;
}

.header .navbar{
    display: none;
}

.header__burger img{
    width: 20px;
}

.header__burger__close{
    display: none;
}

.menuOpen{
   padding: 35px var(--wrapper-space);
   z-index: 9999;
   position: fixed;
   background-color: var(--primary-black);
   margin: 0; 
   height: 100vh;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.menuOpen .header__burger__open{
    display: none;
}

.menuOpen .header__burger__close{
    display: inherit;
}

.menuOpen .navbar{
    display: inherit;
    width: 100%;
    text-align: left;
}

.menuOpen .navbar li{
    width: 100%;
    margin: 12px 0;
}

.menuOpen .navbar a{
    font-size: 2rem;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h2{
    border: 2px solid var(--primary-white);
    text-transform: uppercase;
    color: var(--primary-white);
    padding: 1.55rem 1.55rem 1.1rem 1.55rem;
    position: absolute;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 300;
    line-height: 0.95;
    margin: 0 var(--wrapper-space);

}

.hero__img{
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    max-height: 660px;
}

.about,
.our{
    margin: 5.7rem var(--wrapper-space); 
    text-align: center;
}

.about h2,
.our h2{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    color: var(--primary-black);
    font-size: 2.2rem;
}

.about__text{
    background-color: var(--primary-white);
}

.about p{
    color: var(--primary-dark-gray);
    font-size: 1rem;
    padding: 0 15px;
}

.our__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap:15px
}

.our__button {
    text-transform: uppercase;
    background-color: var(--primary-white);
    border: 1px solid var(--primary-black);
    font-family: 'Josefin Sans', sans-serif;
    padding: 13px 26px;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: .69rem;
    margin-top: 23px;
    transition: all 400ms;
}

.our__button:hover{
    background-color: var(--primary-black);
    color: var(--primary-white);
    border: 1px solid var(--primary-very-dark-gray);
}

.our__article{
    position: relative;
}

.our__article h3{
    position: absolute;
    color: var(--primary-white);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    bottom: 0;
    font-weight: 300;
    width: 40%;
    font-size: 1.6rem;
    left: 20px;
    text-align: left;
    z-index: 1;
}

.our__article__img{
    width:100%;
}

.our__article__img::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background-image: linear-gradient( -90deg, rgba(0,0,0,0), rgba(0,0,0,.6));
}

.our__article__img__mobile{
    display: inherit;
}

.our__article__img__desktop{
    display: none;
}

.footer{
    background-color: var(--primary-black);
}

.footer__logo{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}


.navbar ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.navbar ul li{
    margin: 8px 0;
    list-style: none;
}

.navbar a{
    color: var(--primary-white);
    text-decoration: none;
    font-size: .6rem;
    position: relative;
    padding-bottom: 12px;
    transition: all 400ms;
}

.navbar ul li a:hover::before{
    position: absolute;
    content: '';
    right: 25%;
    left: 25%;
    bottom: 0;
    border-bottom: 2.5px solid var(--primary-white);
}

.social ul{
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: -7px;
}

.social ul li{
    list-style: none;
    margin: 20px 8px 0 8px;
}

.social ul li img{
    width: 22px;
}

.social ul li a{
    transition: all 400ms;
}

.social ul li a:hover{
    border-bottom: 2px solid var(--primary-white);
}

.copyright{
    color: var(--primary-very-dark-gray);
    text-align: center;
    padding-bottom: 30px;
}

@media (min-width: 580px){
    .our__article__img__mobile{
        display: none;
    }

    .our__article__img__desktop{
        display: inherit;
    }

    .our__article__img::before{
        top: 50%;
        right: 0;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.8));
    }

}

@media (min-width: 1224px){

    .header__logo img,
    .footer__logo img{
        width: 200px;
    }

    .header .navbar{
        display: inherit;
    }

    .navbar ul{
        flex-direction: row;
    }
    
    .navbar ul li{
        margin-right: 25px;
    }

    .header__burger{
        display: none;
    }

    .hero h2{
        width: 45%;
        line-height: 1;
        margin-left: var(--wrapper-space);
        left: 0;
        font-size: 2.36rem;
        margin-top: 2.5rem;
        z-index: 1;
    }
    
    .hero__img{
        background-image: url('../images/desktop/image-hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        position: relative;
    }

    .hero__img::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
    }

    .about__content{
        display: grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .about__img{
        grid-column: 1/span 2;
        grid-row: 1/span 3;
    }

    .about__text{
        grid-column: 2/span 2;
        grid-row: 2/span 2;
        padding-left: 4rem;
        padding-top: 2.4rem;
    }

    .about h2,
    .our h2{
        font-size: 1.6rem;
        text-align: left;
    }

    .about p{
        font-size: .46rem;
        text-align: left;
        padding: 0;
        line-height: 1.8;
    }

    .our{
        position: relative;
    }

    .our__button{
        position: absolute;
        margin-top: 0;
        top: 0;
        right: 0;
    }

    .our__container{
        margin-top: 3rem;
    }

    .our__article h3{
        font-size: 1.3rem;
    }


    .footer{
        padding: 0 var(--wrapper-space) ;
        display: flex;
        justify-content: space-between;
    }

    .footer_right h5{
        text-align: right;
    }

    .social{
        display: flex;
        justify-content: flex-end;
    }

    .footer .navbar ul{
        margin-top: 0;
    }

    .footer__logo{
        text-align: left;
    }

    .social ul li img{
        width: 24px;
    }

    .copyright{
        padding-bottom: 20px;
        font-size: .7rem;
    }


}